<app-header title="Create Service Order"></app-header>
<div class="container">
  <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Tipo de serviço</mat-label>
      <mat-select formControlName="problem" disableRipple required>
        <mat-option value="1">Equipamento quebrado</mat-option>
        <mat-option value="2">Instalação</mat-option>
        <mat-option value="3">Option 3</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="conjunto">
      <mat-form-field>
        <mat-label>Your Name</mat-label>
        <input formControlName="name" matInput required />
        <mat-error> Name is <strong>required</strong> </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Number</mat-label>
        <input formControlName="number" type="number" matInput required />
        <mat-error *ngIf="orderForm.hasError('max')">
          Max value is <strong>20</strong>
        </mat-error>
        <mat-error *ngIf="orderForm.hasError('required')">
          Number is <strong>Required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input formControlName="email" type="email" matInput required />
      <mat-error> Email is <strong>required</strong> </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea
        #textArea
        formControlName="description"
        matInput
        placeholder="Some description about your problem"
        required
      ></textarea>
      <mat-error>
        Description must be less than 256 character and is required
      </mat-error>

      <mat-hint align="end"> {{ textArea.value.length }} / 256</mat-hint>
    </mat-form-field>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!orderForm.valid || loading.getLoading()"
    >
      {{
        !orderForm.valid || loading.getLoading()
          ? "Carregando..."
          : "Create Order"
      }}
    </button>
  </form>
</div>
