.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--main-color);
  width: 100%;
  height: 100%;

  * {
    margin: 10px;
  }

  a {
    padding: 0;
    margin: 0;

    &:last-child {
      margin: 20px;
    }

    &:visited {
      color: initial;
    }

    mat-icon {
      transform: scale(1.5);
      transition: all 0.3s;

      &:hover {
        color: white;
      }
    }
  }

  .logo {
    margin: 10px;
    display: flex;
    max-width: 60px;
    max-height: 50px;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;

    img {
      width: 100%;
    }
  }

  .spacer {
    flex: 1 1 auto;
  }

  mat-slide-toggle {
    display: none;
  }
}

@media only screen and (min-width: 700px) {
  .container {
    mat-slide-toggle {
      display: flex;
    }
  }
}
