/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  overflow-x: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  outline: none;
}

button:hover,
a:hover,
mat-icon:hover {
  cursor: pointer;
}

:root {
  --main-color: rgb(196, 196, 196);
}

.messageSuccess {
  background: green !important;
  color: white !important;
}

.messageError {
  background: red !important;
  color: white !important;
}
